/*  1. Remove the default margins */
/* 2. apply random bg colors */
/* 
let's explore FlexBox

1)
justify-content: center
align-items: center
2)
flex-wrap: wrap
3)
align-content: center
4)
flex-direction
flex-flow


*/

html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

body {
  font-family: "Nunito Sans", sans-serif;
}

a {
  text-decoration: none;
  color: coral;
}

a:hover {
  text-decoration: underline;
  color: purple;
}

.wrapper {
  padding-top: 30px;
  max-width: 100%;
  margin: 100px auto;
}

.title-container {
  /* background-color: aqua; */
  height: 200px;
  text-align: center;

  display: flex;
  justify-content: center;
  align-items: center;
}

.title-box {
  /* background-color: chartreuse; */
  width: 900px;
}

.title-box h2 {
  /* background-color: chartreuse; */
  font-size: 21px;
  margin-top: 12px;
}

.nav-container {
  /* background-color: bisque; */
  height: 50px;
  margin-top: 8px;
  font-size: 21px;

  display: flex;
  justify-content: center;
  align-items: center;
}

#p5-canvas-container {
  display: flex;
  justify-content: center;
  align-items: center;
}


canvas,
img {
  border-radius: 20px;
}

.nav-menu {
  margin: 0 30px;
}

.flexbox-container {
  /* background-color: darkkhaki; */
  /* height: 1000px; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: center;
}

.box {
  /* background-color: #EEE; */
  text-align: center;
  margin: 10px;
  width: 170px;
  height: 120px;
}

.box img {
  background-color: #EEE;
  width: 170px;
  height: 100px;
  object-fit: cover;
  display: block;
}

.floating-box {
  background-color: aqua;

  width: 200px;
  height: 150px;

  position: absolute;
  right: 150px;
  top: 150px;

  display: none;
  /* visibility: hidden; */
}

#special-box {
  background-color: chocolate;
  /* visibility: hidden; */
  /* display: none; */
}

.scroll-body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 130vh;
  width: 100%;
  background-color: #f4f4f4;
}

.scroll-container {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  gap: 10px;
  padding: 20px;
  width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
}

.scroll-box {
  /* prevent this box from shrinking or growing from flex container.*/
  flex: 0 0 auto;
  width: 200%;
  background-color: gray;
}